* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.clearfix::before,
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

ul {
    text-align: center;
    list-style: none;
}

a,
p {
    font-family: "Playfair Display", serif;
    text-decoration: none;
    color: black;
}

/* color  #eee0d2 - 베이지   #A66363 - 인디핑크  #A07431 - 다크골드*/

/* wrap */
#wrap {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/********** page1  **********/
#page1Wrap {
    width: 100%;
    height: 950px;
    /*   background: #aaa; */
}

.bg {
    z-index: -50;
    width: 100%;
    height: 950px;
    opacity: 0.8;
    position: absolute;
}

.bg img {
    width: 100%;
    height: 100%;
}

.p2Bg img {
    transform: scaleY(-1);
}

/***** menu *****/
header {
    width: 100%;
    height: 10%;
    /*   background: pink; */
}

.logo {
    float: left;
    width: 95px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
}

.logo img {
    width: 40px;
    height: 40px;
}

.menu {
    float: right;
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 3%;
    /*   background: green; */
}

.menu a {
    padding: 4%;
    font-size: 18px;
    text-transform: uppercase;
}

.menu a:after {
    display: block;
    content: "";
    border-bottom: solid 2px rgb(242, 214, 128);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    padding-bottom: 10px;
}

.menu a:hover:after {
    transform: scaleX(1);
    transform-origin: 50% 100%;
}

.menu a:hover {
    color: rgb(242, 214, 128);
}

.p1Title {
    width: 100%;
    height: 45%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /*   background: green; */
}

.p1Title p {
    font-size: 20em;
    display: inline-block;
}

.p1Con {
    width: 100%;
    height: 25%;
    margin-top: 2%;
    border-top: solid 1px #111;
    border-bottom: solid 1px #111;
    /*   background: lightgreen; */
}

.p1Con .left {
    float: left;
    width: 25%;
    height: 70%;
    margin-top: 2%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*   background: green; */
}

.p1Con .left p,
.p1Con .right p {
    text-align: left;
    padding: 2.5%;
    font-size: 25px;
    font-style: italic;
}

.p1Con .right {
    float: right;
    width: 20%;
    height: 70%;
    margin-top: 2%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*   background: lime; */
}

.p1Con .right p {
    text-align: right;
}

/********** page2  **********/
#page2Wrap {
    width: 100%;
    height: 950px;
    display: flex;
    align-items: center;
    /*   background: #bbb; */
}

.p2Mid {
    width: 100%;
    height: 94%;
    border-top: solid 1px #111;
    border-bottom: solid 1px #111;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*   background: green; */
}

.p2Mid .left {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    /*   background: red; */
}

.p2Mid .left img {
    width: 625px;
    height: 625px;
    transition: box-shadow 0.2s linear;
}

.p2Mid .left img:hover {
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.p2Mid .right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*   background: blue; */
}

.p2Mid .right p {
    text-align: right;
    font-size: 100px;
}

.p2Mid .right p:first-child {
    padding-top: 15%;
}

/********** page3  **********/
#page3Wrap {
    width: 100%;
    height: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(217, 175, 98, 0.3);
    /*   background: #ccc; */
}

.p3Title {
    width: 50%;
    height: 5%;
    /*   margin-top: -2%; */
    /*   background: red; */
}

.p3Title p {
    text-align: center;
    font-size: 1.2em;
}

.p3Mid {
    width: 94%;
    height: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*   background: blue; */
}

.p3Mid .imgCon {
    width: 30%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*   background: green; */
}

figuer {
    width: 350px;
    height: 450px;
    overflow: hidden;
}

.p3Mid .imgCon img {
    width: 350px;
    height: 450px;
    transition: all 0.2s linear;
    object-fit: cover;
    transform: scale(1);
}

.p3Mid .imgCon img:hover {
    transform: scale(1.4);
}

.p3Mid .imgCon p {
    font-size: 2em;
    font-style: italic;
    margin-top: 8%;
}

/********** page4  **********/
#page4Wrap {
    width: 100%;
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: solid 1px #111;
    border-bottom: solid 1px #111;
    /*   background: #ddd; */
}

.p4Title {
    width: 50%;
    height: 5%;
    margin-left: -40%;
    /*   background: red; */
}

.p4Title p {
    text-align: left;
    font-size: 1.2em;
}

.p4Mid {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*   background: blue; */
}

.p4Mid .left {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    /*   background: yellow; */
}

.p4Mid .left img {
    width: 625px;
    height: 625px;
    transition: box-shadow 0.2s linear;
}

.p4Mid .left img:hover {
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.p4Mid .right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    /*   background: lime; */
}

.p4Mid .right p:first-child {
    font-style: italic;
    font-size: 18px;
    padding-bottom: 80px;
}

.p4Mid .right p:nth-child(2) {
    font-size: 110px;
    line-height: 100px;
}

.p4Mid .right p:nth-child(3) {
    font-size: 25px;
    padding-top: 120px;
    padding-bottom: 50px;
}

.p4Mid .right p:last-child {
    font-size: 20px;
    line-height: 30px;
}

/********** page5  **********/
#page5Wrap {
    width: 100%;
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*   background: #eee; */
}

.p5Title {
    width: 50%;
    height: 5%;
    margin-left: 40%;
    /*   background: red; */
}

.p5Title p {
    text-align: right;
    font-size: 1.2em;
}

.p5Mid {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*   background: green; */
}

.p5Mid .left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    /*   background: lime; */
}

.p5Mid .left .top {
    width: 90%;
    height: 50%;
    /*   background: pink; */
}

.p5Mid .left .top p:first-child {
    font-size: 110px;
    line-height: 100px;
    padding-bottom: 100px;
}

.p5Mid .left .top p:nth-child(n + 2) {
    font-size: 20px;
    font-style: italic;
    line-height: 35px;
    padding-bottom: 15px;
}

.p5Mid .left .bottom {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /*   background: lightpink; */
}

.p5Mid .left .bottom img {
    width: 350px;
    height: 280px;
    margin-top: 6.5%;
}

.p5Mid .left .bottom img:last-child {
    margin-left: auto;
}

.p5Mid .right {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /*   background: blue; */
}

.p5Mid .right img {
    width: 700px;
    height: 740px;
}

.p5Mid img {
    opacity: 0.5;
    transition: opacity 0.2s linear;
}

.p5Mid img:hover {
    opacity: 1;
}

/********** page6  **********/
#page6Wrap {
    width: 100%;
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.p6Title {
    width: 50%;
    height: 5%;
    margin-left: -40%;
    /*   background: red; */
}

.p6Title p {
    text-align: left;
    font-size: 1.2em;
}

/***** table *****/
.tg {
    border-collapse: collapse;
    cellspacing: 0px;
    border-spacing: 0;
    width: 100%;
    height: 760px;
    table-layout: fixed;
}

thead {
    width: 100%;
    height: 50%;
}

tbody {
    width: 100%;
    height: 50%;
}

thead tr,
tbody tr {
    width: 100%;
    height: 100%;
}

.tg th {
    border: solid 1px #111;
    overflow: hidden;
    width: 33.333%;
    height: 100%;
    word-break: normal;
}

.tg td {
    border: solid 1px #111;
    overflow: hidden;
    width: 33.333%;
    height: 100%;
    word-break: normal;
}

.tg_img {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.tg_img>img {
    width: 100%;
    position: absolute;
    left: 0;
}

.tg_con {
    width: 80%;
    height: 60%;
    text-align: left;
    margin-left: 10%;
    margin-top: -5%;
    /*   background: pink; */
}

.tg_con p {
    font-weight: lighter;
    font-style: italic;
}

.tg_con p:first-child {
    font-size: 50px;
    font-weight: 550;
}

.tg_con p:nth-child(2) {
    font-size: 20px;
    font-weight: 550;
    margin-top: 5%;
}

.tg_con p:last-child {
    font-size: 15px;
    margin-top: 5%;
}

/********** page7  **********/
#page7Wrap {
    width: 100%;
    height: 900px;
    /*   background: #aaa; */
}

.p7Title {
    width: 100%;
    height: 5%;
    border-bottom: solid 1px #111;
    /*   background: red; */
}

.p7Mid {
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    /*   background: blue; */
}

.p7Title p {
    text-align: right;
    font-size: 1.2em;
    padding-right: 5%;
}

.p7Img {
    width: 550px;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.p7Img img {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: -5;
}

.p7Con1 {
    /*   width: 100%;
    height: 25%; */
    margin-top: -10%;
    margin-left: -3%;
    z-index: 10;
    /*   background: pink; */
}

.p7Con1 p {
    font-size: 260px;
    letter-spacing: 27px;
}

.p7Con1 span {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    color: transparent;
}

.p7Con2 {
    width: 100%;
    height: 30%;
    border-top: solid 1px #111;
    border-bottom: solid 1px #111;
    position: absolute;
    margin-top: 20%;
}

.p7Con2 .left {
    float: left;
    width: 20%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 1%;
    /*   background: pink; */
}

.p7Con2 .left p {
    font-style: italic;
    font-size: 25px;
    line-height: 50px;
    padding-left: 25%;
}

.p7Con2 .right {
    float: right;
    width: 20%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1%;
    /*   background: pink; */
}

.p7Con2 .right p {
    font-style: italic;
    font-size: 25px;
    line-height: 50px;
}